.container {
  max-width: 65%;
}
.dropdown show{
  color: aqua;
}
.btn{
  font-size: 25px;
  
}
.dropdown-menu {
  font-size: 15px;
}

img{
  
  margin-top:40px;
  

}

.col-xs-5 , .col-xs-7 {
  background-color: #EBDF00;
  color: white;
}



@media (max-width: 575.98px) {
 
}


@media (min-width: 576px) and (max-width: 767.98px) {}


@media (min-width: 768px) and (max-width: 991.98px) {}


@media (min-width: 992px) and (max-width: 1199.98px) {}


@media (min-width: 1200px) {}


















